.notes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    max-width: 100%;
    height: auto;
  }
}
